@import url(http://fonts.googleapis.com/css?family=Roboto:900,700,400);

/* Logo CSS */

.logo2 div {
    max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  font-family: Roboto;
  font-weight: 900;
  font-size: 110px;
  border-left: 4px solid black;
  border-right: 4px solid black;
  padding-left: 6px;
  padding-right: 6px;
}

.logo2 div:first-child {
  border-top: 8px solid black;
}

.logo2 div:last-child {
  border-bottom: 8px solid black;
  margin-top: -20px;
}

